<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Beekeeper">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />

        <!-- Declare the LogActionHandlerActivity -->
        <!-- 'exported' is true because it's launched by Assistant (another app) -->
        <!-- Use a translucent theme to make the activity appear invisible -->
        <activity
            android:name=".LogActionHandlerActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

            <!--
                 No VIEW/DEEP LINK intent filter needed here for App Actions fulfillment
                 when using targetClass in shortcuts.xml. If you need deep links
                 for other purposes, you would add a separate <intent-filter>.
            -->
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />
    </application>

</manifest>